@charset "utf-8";
* {margin:0; padding:0;}
ol, ul, li { list-style:none; }
a { text-decoration:none; color:#555; outline:0; text-align:center; }
body {font:15px/1.5 dotum,"돋움", gulim, "굴림", sans-serif;}

div#wrap {
    width:1650px; height:1650px;
    margin:0 auto;
}
div#inner {
    width:100%; height:1650px;
/*    background:red;*/
    margin:0 auto;
}
header {
    width:100%; height:80px;
}
div#inner header h1 {
    position:absolute;
    top:15px;
    margin-left:10px;
    width:70px;
    margin-bottom:-10px;
}

div#inner header nav {
    width:1000px;
    text-align:center;
    margin:0 auto;
    position:relative;
    top:25px;

}
div#inner header nav ul li { display:inline-block; }
div#inner header nav ul li a { font-size:20px; margin-left:10px;}


table {
    border-collapse:collapse;
    border-spacing:0;
    position:relative;
    left:300px;
    height:300px;
}
h1 { text-align:center; color:#000; position:relative; top:130px;}
#carZone { width:600px; margin:0 auto; }
#estimate { width:100%; }
#estimate th, td {
    border:1px solid #ccc;
    height:30px;
}
#estimate th {
    background-color:#333;
    color:#fff;
}
#carZone img { width:500px; margin-left:0; position:relative; right:300px; top:200px;}
#carZone td { text-align:center; }
tfoot {
    font-size:15px;
    font-weight:bold;
}
#total {
    border:none 0;
    background:none;
    font-size:1.5em;
    font-weight:bold;
    text-align:center;
}

/*
div.buy_event {
    width:1650px;
    background-color:rgba(255,255,255,0.5);
}
*/
div.icon_menu {
    width:1650px; height:400px;
}
div.icon_menu ul {
    width:1650px; height:400px;
}
div.icon_menu ul li {
    display:inline-block;
    margin:0 auto;
    margin-left:100px;
    margin-top:30px;
    text-align:center;
    width:250px; height:250px;
}
div.icon_menu ul li a p {
    margin-left:0;
    color:#000;
}

div.icon_menu ul li a img {
    width:250px; height:250px;
}

nav#Fulldown_nav {
    width:1650px; height:600px;
    position:relative;
    top:300px;
}
nav#Fulldown_nav ul li {
    float:left;
    width:220px;
/*    padding-left:5px;*/
}
nav#Fulldown_nav ul li a {
    display:inline-block;
    width:300px;
    font-size:18px;
    line-height:3;
    color:#111;
}
nav#Fulldown_nav ul li a.nav_tit {
    color:#000;
    font-weight:bold;
}

footer {
    position:relative;
    top:350px;
    width:1650px; height:300px;
    box-sizing:border-box; 
    border-top:3px solid #000;
}
footer h2 img {
    width:110px; height:110px;
    margin-top:50px;
}
footer ul.footer {
    width:1500px; height:30px;
    margin-left:140px;
    margin-top:-105px;
}
footer ul.footer li {
    display:inline-block;
    padding-left:10px;
    font-weight:bold;
}
footer ul.SNS {
    float:left;
    margin-left:140px;
    margin-top:0;
}
footer ul.SNS li {
    display:inline-block;
}